body {
  background-color: bisque;
  margin: 0;
  padding: 0;
}

input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  width: 70%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
input[type=text]:hover {
  border-color: #555;
}

.navegacion {
  width: 100%;
  height: 100px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0;
  flex-wrap: wrap;
}
.navegacion .titulo {
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, seri;
  font-size: 50px;
}
.navegacion form {
  flex: auto;
  margin-left: 100px;
  flex-wrap: wrap;
}
.navegacion form .btn {
  margin-top: -5px;
}
.navegacion .navegacion__nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}
.navegacion .navegacion__nav .nav__item {
  margin-left: 10px;
  padding: 10px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 18px;
}
.navegacion .navegacion__nav .nav__item a {
  transition: color 0.3s ease;
  text-decoration: none;
}
.navegacion .navegacion__nav .nav__item a:hover {
  color: #654321;
}
.navegacion .navegacion__nav .nav__item a::before {
  font-family: FontAwesome;
  margin-right: 5px;
}

.novedades-container {
  background-color: rgb(244, 217, 184);
  padding-top: 10px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.novedades-container .novedades {
  margin-left: 40%;
  margin-top: 7.5%;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.novedades-container .imgnovedades {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
  padding-bottom: 90px;
  padding-top: 20px;
}
.novedades-container .imgnovedades .carousel-item {
  border-radius: 20px;
  object-fit: cover;
}
.novedades-container .imgnovedades .carousel-item .d-block {
  border-radius: 20px;
  object-fit: cover;
}

.muebles-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: -150px;
}
.muebles-container .divmesas {
  text-align: center;
  width: 30%;
  margin-right: 110px;
  margin-top: 20px;
}
.muebles-container .divmesas .mesaindex {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Arial", Helvetica, sans-serif;
}
.muebles-container .divmesas .contenti {
  position: relative;
}
.muebles-container .divmesas .contenti img {
  width: 100px;
  border-radius: 15px;
}
.muebles-container .divmesas .contenti .mesacaracindex {
  position: absolute;
  top: 20px;
  right: -150px;
  padding: 15px;
  font-size: 16px;
  margin-top: -30px;
  width: 60%;
  text-align: left;
  margin-right: -60px;
}
.muebles-container .divmesas .contenti .mesacaracindex .precio {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}
.muebles-container .divsillas {
  text-align: center;
  width: 30%;
  margin-right: 110px;
  margin-top: 20px;
  margin-left: -400px;
}
.muebles-container .divsillas .sillaindex {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Arial", Helvetica, sans-serif;
}
.muebles-container .divsillas .contenti {
  position: relative;
}
.muebles-container .divsillas .contenti img {
  width: 100px;
  border-radius: 15px;
}
.muebles-container .divsillas .contenti .sillacaracindex {
  position: absolute;
  top: 20px;
  right: -150px;
  padding: 15px;
  font-size: 16px;
  margin-top: -30px;
  width: 60%;
  text-align: left;
  margin-right: -60px;
}
.muebles-container .divsillas .contenti .sillacaracindex .precio {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}
.muebles-container .divmuebles {
  text-align: center;
  width: 30%;
  margin-right: 110px;
  margin-top: 20px;
}
.muebles-container .divmuebles .muebleindex {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Arial", Helvetica, sans-serif;
}
.muebles-container .divmuebles .contenti {
  position: relative;
}
.muebles-container .divmuebles .contenti img {
  width: 100px;
  border-radius: 15px;
}
.muebles-container .divmuebles .contenti .mueblecaracindex {
  position: absolute;
  top: 20px;
  right: -150px;
  padding: 15px;
  font-size: 16px;
  margin-top: -30px;
  width: 60%;
  text-align: left;
  margin-right: -60px;
}
.muebles-container .divmuebles .contenti .mueblecaracindex .precio {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}
.muebles-container .divescritorios {
  text-align: center;
  width: 30%;
  margin-right: 110px;
  margin-top: 20px;
  margin-left: -400px;
}
.muebles-container .divescritorios .escriindex {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Arial", Helvetica, sans-serif;
}
.muebles-container .divescritorios .contenti {
  position: relative;
}
.muebles-container .divescritorios .contenti img {
  width: 100px;
  border-radius: 15px;
}
.muebles-container .divescritorios .contenti .escricaracindex {
  position: absolute;
  top: 20px;
  right: -150px;
  padding: 15px;
  font-size: 16px;
  margin-top: -30px;
  width: 60%;
  text-align: left;
  margin-right: -60px;
}
.muebles-container .divescritorios .contenti .escricaracindex .precio {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}

.conttext {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  background-color: #F4D9B8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  position: relative;
  right: -10px;
  padding-top: 50px;
}
.conttext .titulores {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
.conttext .resumen {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

.navegacion2 {
  background-color: #DAF7A6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: #333;
  flex-wrap: wrap;
}
.navegacion2 .contactopie {
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
}
.navegacion2 .contactopie .contactopietitulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -5px;
  flex-wrap: wrap;
}
.navegacion2 .contactopie p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}
.navegacion2 .redespie {
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
}
.navegacion2 .redespie .redespietitulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -5px;
  flex-wrap: wrap;
}
.navegacion2 .redespie ul {
  list-style: none;
  padding: 0;
}
.navegacion2 .redespie ul li {
  display: inline;
  margin-right: 15px;
}

/*# sourceMappingURL=styles.css.map */
