.novedades-container {
  background-color: rgb(244, 217, 184);
  padding-top: 10px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.novedades-container .novedades {
  margin-left: 40%;
  margin-top: 7.5%;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.novedades-container .imgnovedades {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
  padding-bottom: 90px;
  padding-top: 20px;
}
.novedades-container .imgnovedades .carousel-item {
  border-radius: 20px;
  object-fit: cover;
}
.novedades-container .imgnovedades .carousel-item .d-block {
  border-radius: 20px;
  object-fit: cover;
}

.muebles-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: -150px;
}
.muebles-container .divmesas {
  text-align: center;
  width: 30%;
  margin-right: 110px;
  margin-top: 20px;
}
.muebles-container .divmesas .mesaindex {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Arial", Helvetica, sans-serif;
}
.muebles-container .divmesas .contenti {
  position: relative;
}
.muebles-container .divmesas .contenti img {
  width: 230px;
  border-radius: 15px;
  transition: transform 0.8s ease;
}
.muebles-container .divmesas .contenti img:hover {
  transform: scale(1.3);
}
.muebles-container .divmesas .mesacaracindex {
  position: absolute;
  top: 20px;
  right: -150px;
  padding: 15px;
  font-size: 16px;
  margin-top: -30px;
  width: 60%;
  text-align: left;
  margin-right: -60px;
}
.muebles-container .divmesas .mesacaracindex .precio {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}

.divsillas {
  text-align: center;
  width: 30%;
  margin-right: 110px;
  margin-top: 20px;
  margin-left: -400px;
}
.divsillas .sillaindex {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Arial", Helvetica, sans-serif;
}
.divsillas .contenti {
  position: relative;
}
.divsillas .contenti img {
  width: 230px;
  border-radius: 15px;
  transition: transform 0.8s ease;
}
.divsillas .contenti img:hover {
  transform: scale(1.3);
}
.divsillas .contenti .sillacaracindex {
  position: absolute;
  top: 20px;
  right: -150px;
  padding: 15px;
  font-size: 16px;
  margin-top: -30px;
  width: 60%;
  text-align: left;
  margin-right: -60px;
}
.divsillas .contenti .sillacaracindex .precio {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}

.divmuebles {
  text-align: center;
  width: 30%;
  margin-right: 110px;
  margin-top: 20px;
}
.divmuebles .muebleindex {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Arial", Helvetica, sans-serif;
}
.divmuebles .contenti {
  position: relative;
}
.divmuebles .contenti img {
  width: 230px;
  border-radius: 15px;
  transition: transform 0.8s ease;
}
.divmuebles .contenti img:hover {
  transform: scale(1.3);
}
.divmuebles .contenti .mueblecaracindex {
  position: absolute;
  top: 20px;
  right: -150px;
  padding: 15px;
  font-size: 16px;
  margin-top: -30px;
  width: 60%;
  text-align: left;
  margin-right: -60px;
}
.divmuebles .contenti .mueblecaracindex .precio {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}

.divescritorios {
  text-align: center;
  width: 30%;
  margin-right: 110px;
  margin-top: 20px;
  margin-left: -400px;
}
.divescritorios .escriindex {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Arial", Helvetica, sans-serif;
}
.divescritorios .contenti {
  position: relative;
}
.divescritorios .contenti img {
  width: 230px;
  border-radius: 15px;
  transition: transform 0.8s ease;
}
.divescritorios .contenti img:hover {
  transform: scale(1.3);
}
.divescritorios .contenti .escricaracindex {
  position: absolute;
  top: 20px;
  right: -150px;
  padding: 15px;
  font-size: 16px;
  margin-top: -30px;
  width: 60%;
  text-align: left;
  margin-right: -60px;
}
.divescritorios .contenti .escricaracindex .precio {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}

.conttext {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  background-color: #F4D9B8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  position: relative;
  right: -10px;
  padding-top: 50px;
  transition: transform 0.8s ease;
}
.conttext:hover {
  transform: scale(1.1);
}
.conttext .titulores {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
.conttext .resumen {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  list-style: none;
  padding: 0;
  background-color: #dcc6a3;
  padding: 10px;
  border-radius: 50px;
  width: 95%;
  margin-left: 2.5%;
  flex-wrap: wrap;
}
.links .href {
  text-decoration: none;
  color: #262626;
  padding: 5px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: auto;
  font-size: 30px;
  transition: transform 0.8s ease;
}
.links .href:hover {
  background-color: #d5bb96;
  transform: scale(1.2);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
}
.main-content .sectioncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
  margin-left: 5%;
  padding: 1%;
}
.main-content .sectioncontainer .section {
  margin: 0 auto;
  max-width: 800px;
  width: 40%;
  background-color: transparent;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex: auto;
  flex-wrap: wrap;
  transition: transform 0.8s ease;
}
.main-content .sectioncontainer .section:hover {
  transform: scale(1.1);
}
.main-content .sectioncontainer .section .h3p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  align-items: center;
  margin-left: 15px;
  color: #333;
  margin-bottom: 50px;
  padding: 1%;
}
.main-content .sectioncontainer .section .pcontent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-content .sectioncontainer .section .pcontent img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  padding-left: 10px;
  margin-left: 50px;
  flex-wrap: wrap;
  display: block;
  border-radius: 10%;
  flex-wrap: wrap;
}
.main-content .sectioncontainer .section .pcontent .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-content .sectioncontainer .section .pcontent .details p {
  margin: 5px 0;
  font-size: 18px;
}
.main-content .sectioncontainer .section .pcontent .details .pboton {
  margin-top: 10px;
  border-radius: 10px;
}
.main-content .sectioncontainer .sectiond {
  margin: 0 auto;
  max-width: 800px;
  width: 40%;
  background-color: transparent;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex: auto;
  flex-wrap: wrap;
  transition: transform 0.8s ease;
}
.main-content .sectioncontainer .sectiond:hover {
  transform: scale(1.1);
}
.main-content .sectioncontainer .sectiond .pcontentd {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 120px;
}
.main-content .sectioncontainer .sectiond .pcontentd img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  padding-left: 10px;
  margin-left: 50px;
  flex-wrap: wrap;
  display: block;
  border-radius: 10%;
  flex-wrap: wrap;
}
.main-content .sectioncontainer .sectiond .pcontentd .detailsd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -2%;
}
.main-content .sectioncontainer .sectiond .pcontentd .detailsd p {
  margin: 5px 0;
  font-size: 18px;
}
.main-content .sectioncontainer .sectiond .pcontentd .detailsd .pbotond {
  margin-top: 10px;
  border-radius: 10px;
}

.quiensomos {
  font-size: 39px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.nos3h {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: oblique;
}

.contenido {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}
.contenido .texto {
  flex: 1;
  padding-right: 5px;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  padding: 0 20px;
  margin-left: 20px;
}
.contenido .texto2 {
  margin-top: -80px;
  flex: 1;
  padding-right: 5px;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  padding: 0 20px;
  margin-left: 20px;
}
.contenido .texto3 {
  margin-top: -80px;
  flex: 1;
  padding-right: 5px;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  padding: 0 20px;
  margin-left: 20px;
}
.contenido .imagen {
  flex: 0.8;
  text-align: center;
  padding-top: 100px;
}
.contenido .imagen img {
  max-width: 100%;
  height: 250px;
  border-radius: 10px;
}

body.contaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.contach3 {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  margin: auto;
  margin-right: 45rem;
  display: flex;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contcontacto {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: 600px;
}
.contcontacto a {
  margin-right: 410px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 18px;
}
.contcontacto input[type=text] {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 90px;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 380px;
  margin-bottom: 25px;
  margin-left: 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.contcontacto input[type=submit] {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 90px;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 380px;
  width: 50%;
  max-width: 150px;
  justify-self: center;
  margin-top: -10px;
}
.contcontacto input.tercero {
  height: 150px;
  width: 300px;
  padding: 10px;
}
.contcontacto button {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 90px;
  width: 25%;
  max-width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 360px;
  border-radius: 10px;
}

.tucarro {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tucarroimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 35px;
  margin-bottom: 20px;
  padding: 20px;
}

.contsegui {
  display: center;
  width: auto;
  margin-left: 600px;
  margin-bottom: 25px;
  margin-top: -10px;
}
.contsegui .seguicomprandolink {
  text-align: justify;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  border: solid;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
  margin-left: 100px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.contsegui .seguicomprando {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
}

body {
  background-color: bisque;
  margin: 0;
  padding: 0;
}

input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  width: 70%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
input[type=text]:hover {
  border-color: #555;
}

.navegacion {
  width: 100%;
  height: 100px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0;
  flex-wrap: wrap;
}
.navegacion #checkmenu {
  display: none;
}
.navegacion label {
  display: none;
}
.navegacion .titulo {
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, seri;
  font-size: 50px;
}
.navegacion .titulo a {
  text-decoration: none;
  color: #333;
}
.navegacion form {
  flex: auto;
  margin-left: 100px;
  flex-wrap: wrap;
}
.navegacion form .btn {
  margin-top: -5px;
}
.navegacion .navegacion__nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
  z-index: 100;
}
.navegacion .navegacion__nav .nav__item {
  margin-left: 10px;
  padding: 10px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 18px;
  transition: transform 0.8s ease;
}
.navegacion .navegacion__nav .nav__item:hover {
  transform: scale(1.2);
}
.navegacion .navegacion__nav .nav__item a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: #333;
}
.navegacion .navegacion__nav .nav__item a:hover {
  color: black;
}
.navegacion .navegacion__nav .nav__item a::before {
  font-family: FontAwesome;
  margin-right: 5px;
}

.navegacion2 {
  background-color: #DAF7A6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: #333;
  flex-wrap: wrap;
}
.navegacion2 .contactopie {
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
}
.navegacion2 .contactopie .contactopietitulo {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -5px;
  flex-wrap: wrap;
}
.navegacion2 .contactopie p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}
.navegacion2 .redespie {
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
}
.navegacion2 .redespie .redespietitulo {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -5px;
  flex-wrap: wrap;
}
.navegacion2 .redespie ul {
  list-style: none;
  padding: 0;
}
.navegacion2 .redespie ul a {
  text-decoration: none;
  color: #555;
}

@media (max-width: 430px) {
  .navegacion label {
    display: block;
  }
  .navegacion label .bx-menu {
    font-size: 3rem;
  }
  .navegacion .navegacion__nav {
    display: none;
  }
  .navegacion #checkmenu:checked ~ .navegacion__nav {
    display: flex;
    background-color: rgba(250, 235, 215, 0.85);
    width: 100%;
    height: 30vh;
    position: absolute;
    left: 0;
    top: 100px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .navegacion .titulo {
    font-size: 2.8rem;
  }
  .navegacion form {
    display: none;
  }
}
@media (max-width: 390px) {
  .navegacion label {
    display: block;
  }
  .navegacion label .bx-menu {
    font-size: 2rem;
  }
  .navegacion .titulo {
    font-size: 2.4rem;
  }
}

@media (max-width: 430px) {
  .novedades-container {
    height: 45vh;
  }
  .novedades-container .novedades {
    margin-left: 15%;
    font-size: 3rem;
  }
  .novedades-container .imgnovedades {
    width: 20rem;
    margin-left: 3.5rem;
  }
}
@media (max-width: 390px) {
  .novedades-container {
    height: 45vh;
  }
  .novedades-container .novedades {
    margin-left: 11%;
    font-size: 3rem;
  }
  .novedades-container .imgnovedades {
    width: 20rem;
    margin-left: 2.2rem;
  }
}

@media (max-width: 430px) {
  .muebles-container {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    width: 30%;
    margin-left: 10rem;
  }
  .muebles-container .divmesas .contenti img {
    width: 8rem;
  }
  .muebles-container .divsillas .contenti img {
    width: 8rem;
  }
  .muebles-container .divmuebles .contenti img {
    width: 8rem;
  }
  .muebles-container .divescritorios .contenti img {
    width: 8rem;
  }
  .muebles-container p {
    display: none;
  }
}
@media (max-width: 390px) {
  .muebles-container {
    margin-left: 9rem;
  }
}

@media (max-width: 430px) {
  .conttext {
    margin-left: 3.5rem;
  }
}
@media (max-width: 390px) {
  .conttext {
    margin-left: 3rem;
  }
}

@media (max-width: 430px) {
  .main-content {
    display: block;
  }
  .main-content .sectioncontainer .section {
    margin-left: 10px;
  }
  .main-content .sectioncontainer .section .h3p {
    font-size: 1.5rem;
  }
  .main-content .sectioncontainer .section .pcontent img {
    width: 10rem;
    margin-left: 0;
    margin-right: 1000px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .main-content .sectioncontainer .sectiond {
    margin-left: 10px;
  }
  .main-content .sectioncontainer .sectiond .pcontentd img {
    width: 10rem;
    margin-left: 0;
    margin-right: 1000px;
    margin-top: -40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 390px) {
  .pboton {
    font-size: 1rem;
    margin-left: 0;
  }
  .pbotond {
    font-size: 1rem;
    margin-left: 0;
  }
}
@media (max-width: 430px) {
  .contenido {
    display: block;
  }
  .contenido img {
    margin-bottom: 3rem;
    margin-top: -3rem;
  }
  .contenido .texto, .contenido .texto2, .contenido .texto3 {
    margin-right: 1rem;
  }
  .contenido .texto {
    margin-top: 5rem;
  }
  .contenido .texto2 {
    margin-top: 1rem;
  }
  .contenido .texto3 {
    margin-top: 1rem;
  }
}

@media (max-width: 430px) {
  .contach3 {
    margin-left: 3rem;
    font-size: 2.5rem;
  }
  .contcontacto {
    margin-left: 1rem;
    width: 90%;
  }
  .contcontacto button {
    margin-left: 5rem;
    width: 60%;
    height: 7vh;
    font-size: 1.5rem;
  }
}
@media (max-width: 390px) {
  .contach3 {
    margin-left: 0rem;
    font-size: 2rem;
    margin-right: 0;
    padding-right: 0;
  }
  .contcontacto {
    margin-left: 0rem;
    width: 70%;
    margin-right: 0;
  }
  .contcontacto input.tercero {
    width: 14.5rem;
    margin-right: 0;
  }
  button {
    margin-left: 5rem;
    width: 60%;
    height: 7vh;
    font-size: 1.5rem;
    margin-right: 0;
  }
}
@media (max-width: 430px) {
  .tucarro {
    margin-top: 2rem;
  }
  .tucarroimg {
    width: auto;
  }
  .contsegui {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1rem;
    height: 0;
    text-align: center;
    margin-bottom: 14rem;
    margin-top: 2rem;
  }
  .contsegui .seguicomprandolink {
    width: 40%;
    height: 10vh;
  }
}

/*# sourceMappingURL=styles.css.map */
