@import "./partials/variables";
@import "./partials/index";
@import "./partials/producto";
@import "./partials/nosotros";
@import "./partials/contacto";
@import "./partials/carrito";


body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  width: 70%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  &:hover{
    border-color: #555;
  }
}
.navegacion{
  width: 100%;
  height: 100px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0;
  flex-wrap: wrap;
  #checkmenu{
    display: none;
  }
  label{
    display: none;
  }
  .titulo{
      padding: 10px;
      font-family: Georgia, 'Times New Roman', Times, seri;
      font-size: 50px;
      a{
        text-decoration: none;
        color: #333;
      }
    }
    form{
      flex: auto;
      margin-left: 100px;
      flex-wrap: wrap;
      .btn{
        margin-top: -5px;
      }
    }
  .navegacion__nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    .nav__item{
      margin-left: 10px;
      padding: 10px;
      font-family: $fuente;
      font-size: 18px;
      transition: transform 0.8s ease;
      &:hover{
        transform: scale(1.2);
      }
      a{
        transition: color 0.3s ease;
        text-decoration: none;
        color: #333;
        &:hover{
          color: black;
        }
        &::before{
          font-family: FontAwesome;
          margin-right: 5px;
        }
      }
    }
  }
}
.navegacion2{
  background-color: #DAF7A6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: #333;
  flex-wrap: wrap;
  .contactopie{
    width: 50%;
    text-align: center;
    flex-wrap: wrap;
    .contactopietitulo{
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: -5px;
      flex-wrap: wrap;
    }
    p{
      font-size: 16px;
      margin: 0;
      margin-bottom: 10px;
    }
  }
  .redespie{
    width: 50%;
    text-align: center;
    flex-wrap: wrap;
    .redespietitulo{
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: -5px;
      flex-wrap: wrap;
    }
    ul{
      list-style: none;
      padding: 0;
      a{
        text-decoration: none;
        color: #555;
      }
    }

  }
}




@import "./partials/mediaq";